body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f7f7f7;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  text-align: center;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  width: auto;
  margin-top: 60px;
}

.produtos {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 2;
  max-width: 500px;


}

.total {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  max-width: 200px;
  text-align: center;
}

.produtos h2,
.total h2 {
  margin-top: 0;
}

.produto {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
/*header*/

.navbar {
  display: flex;
  align-items: center;
  background-color: #005095;
  height: 84px;
}

.navbar img {
  margin: 91px;
  width: 255px;
}

.barra-pesquisa input[type="search"] {
  width: 589px;
  padding: 10px 40px 10px 10px;
  font-size: 14px;
}

.img-perfil {
  margin: 90px;
}

.img-perfil img {
  margin: 40px;
  height: 24px;
  width: 24px;
}

.categorias {
  display: flex;
  align-items: center;
}

.categorias a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.categorias img {
  margin: 90px;
  margin-right: 8px;
  height: 24px;
  width: 24px;
}

.menu {
  margin: 91px;
}

.navbar2 {
  display: flex;
  align-items: center;
  background-color: #008BD2;
  height: 48px;
}

.navbar2 ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
  margin-left: auto;
  margin: -120px;
  font-family: 'Montserrat', sans-serif;
}
.navbar2 ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none; 
    padding: 8px 16px; 
    margin: -16px;
}
/*footer*/

footer {
  bottom: 0;
  width: 100%;
  min-height: 201px;
  background: #005095;
  display: flex;
}

 h3 {
  color: #fff;
  margin-left: 80px;
}

.contatos1 ul li,
.contatos2 ul li,
.contatos3 ul li {
  list-style-type: none;
  color: #fff; 
}
.contatos2 ul li,
.contatos3 ul li { 
margin-left: 40px;
}

.contatos1 ul a,
.contatos2 ul a,
.contatos3 ul a {
  color: #fff; 
  text-decoration: none; 
}

.contatos1 ul {
  margin-left: 42px; 
}

.logo2{
    margin: 30px;
    margin-left: 90px;
    width: 285px;
}

.redes{
    margin: 20px;
    display: flex;  
    gap: 10px; 
}

.redes img{
    margin: 15px;
    height: 35px;
    margin-right: -10px;
}